@keyframes prizeLead {
  from {
    opacity: 0;
    transform: translateY(5vh);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.screen--prizes .prizes__lead {
  animation-name: prizeLead;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;

  opacity: 0;
  transform: translateY(5vh);
}

.prizes__item--cases .prizes__icon {
  width: 29.56rem;
  margin-left: -3rem;

  @media (min-width: $stop-scaling) {
    width: 297px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    margin-right: 1.3rem;
    width: 14.51rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    width: 13.5rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    width: 9.95rem;
  }
}

.prizes__item--cases,
.prizes__item--codes {
  & .prizes__desc {
    margin-top: 4.2rem;

    @media (min-width: $stop-scaling) {
      margin-top: 42px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      margin-top: 0;
      margin-bottom: -0.38rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      margin-top: 1.6rem;
    }
  }
}

.prizes__list_content {
  position: relative;
}

@keyframes journeysItemPosition {
  to {
    left: 0;
  }
}

.prizes__item--journeys-active {
  position: absolute;

  animation-name: journeysItemPosition;
  animation-duration: 1s;
  animation-delay: 3.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;

  left: calc(50% - 26.2rem);

  @media (min-width: $stop-scaling) {
    left: calc(50% - 47em);
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    left: 0;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    left: calc(50% - 18.2rem);
  }
}

.prizes-item--hidden {
  opacity: 0;
}

@keyframes prizesItemOpacity {
  to {
    opacity: 1;
  }
}

.prizes__item--cases {
  animation-name: prizesItemOpacity;
  animation-duration: 0.5s;
  animation-delay: 3.8s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;

  opacity: 0;
}

@keyframes prizesItemCodesIconMargin {
  to {
    margin-left: 0;
  }
}

.prizes__item--codes {
  animation-name: prizesItemOpacity;
  animation-duration: 0.5s;
  animation-delay: 6.2s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;

  opacity: 0;

  & .prizes__icon {
    margin-left: 3rem;

    animation-name: prizesItemCodesIconMargin;
    animation-duration: 0.5s;
    animation-delay: 6.2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }
}

.game__buttons {
  display: block;
}

.screen--result1 .result__image img,
.screen--result3 .result__image img {
  width: 100%;
  height: 100%;
}
