.result__image picture {
  position: relative;
}

.result__image img {
  position: absolute;
}

.suitcase-animation {
  height: 49vh;
  bottom: 15vh;
  left: 50vw;
  margin-left: -30vh;
  will-change: transform;

  z-index: 3;
}

.greenLeaf-animation {
  height: 23vh;
  bottom: 21vh;
  left: 50vw;
  margin-left: -5vh;

  opacity: 0;
  z-index: 2;
}

.flamingo-animation {
  height: 33vh;
  bottom: 17vh;
  left: 50vw;
  margin-left: -32.5vh;

  z-index: 4;
}

.blueLeaf1-animation {
  height: 30vh;
  bottom: 25vh;
  left: 50vw;

  opacity: 0;
  z-index: 1;
}

.blueLeaf2-animation {
  height: 30vh;
  bottom: 15vh;
  left: 50vw;
  margin-left: -45vh;

  opacity: 0;
  z-index: 1;
}
