.intro__title {
    max-width: 101rem;
}

#date .text-animation-character:last-of-type {
    padding-right: 2px;
}

.text-animation-line {
    display: block;
}

.text-animation-word {
    overflow: hidden;
    display: inline-block;
}

.text-animation-character {
    display: inline-block;
}

// .game__buttons {
//     display: block;
// }