@keyframes formButtonBackground {
    from {
        border-color: transparent !important;
        background-color: transparent;
    }

    to {
        border-color: white !important;
        background-color: white;
    }
}

@keyframes formButtonText {
    from {
        color: transparent;
    }

    to {
        color: #5f458c;
    }
}

@keyframes formInputWidth {
    from {
        opacity: 1;
    }

    to {
        opacity: 1;
        width: 100%;
    }
}

@keyframes formInputText {
    from {
        color: transparent;
    }

    to {
        color: #757575;
    }
}

@keyframes formLabel {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

// - I have no idea why this trick works
// - It just works
// - Thanks, Todd
.screen--result .result__form #email-field2,
.screen--result .result__form #email-field2::placeholder {
    color: var(--main-text-color);
    animation-name: formInputText;
    animation-duration: 0.2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.screen--result .result__form {
    & .form--result {
        animation-name: formInputWidth;
        animation-duration: 0.5s;
        animation-delay: 0.5s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
    }

    & .form__button {
        animation-name: formButtonText;
        animation-duration: 0.3s;
        animation-delay: 0.5ы;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;

        &::before {
            animation-name: formButtonBackground;
            animation-duration: 0.2s;
            animation-delay: 0.4s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
        }
    }

    @media (orientation: portrait) {
        & .form__label {
            animation-name: formLabel;
            animation-duration: 1s;
            animation-fill-mode: forwards;
            animation-timing-function: step-end;
        }
    }
}